:root {
	--width-1: 8.3333%;
	--width-2: 16.6667%;
	--width-3: 25%;
	--width-4: 33.3333%;
	--width-5: 41.6667%;
	--width-6: 50%;
	--width-7: 58.3333% --width-8: 66.6667%;
	--width-9: 75%;
	--width-10: 83.3333%;
	--width-11: 91.6667%;
	--width-12: 100%;

	--offset-1: 8.3333%;
	--offset-2: 16.6667%;
	--offset-3: 25%;
	--offset-4: 33.3333%;
	--offset-5: 41.6667%;
	--offset-6: 50%;
	--offset-7: 58.3333%;
	--offset-8: 66.6667%;
	--offset-9: 75%;
	--offset-10: 83.3333%;
	--offset-11: 91.6667%;
	--offset-12: 100%;
}

.grid {
	display: flex;
	flex-wrap: wrap;
	margin-inline: calc(-1 * var(--gutter));
	margin-block-start: calc(-1 * var(--gutter));
	& > .col {
		box-sizing: border-box;
	}
	& > [class*="col"] {
		box-sizing: border-box;
	}
}

.grid_nogutter {
	margin-inline: 0;
	margin-block-start: 0;
	& > .col {
		padding: 0;
	}
	& > [class*="col"] {
		padding: 0;
	}
}

.col {
	flex-grow: 1;
	flex-basis: 0;
	padding: var(--gutter);
}

[class*="col_"] {
	flex: 0 0 auto;
	padding: var(--gutter);
}

.col_1 {
	width: var(--width-1);
}

.col_2 {
	width: var(--width-2);
}

.col_3 {
	width: var(--width-3);
}

.col_4 {
	width: var(--width-4);
}

.col_5 {
	width: var(--width-5);
}

.col_6 {
	width: var(--width-6);
}

.col_7 {
	width: var(--width-7);
}

.col_8 {
	width: var(--width-8);
}

.col_9 {
	width: var(--width-9);
}

.col_10 {
	width: var(--width-10);
}

.col_11 {
	width: var(--width-11);
}

.col_12 {
	width: var(--width-12);
}

.offset_1 {
	margin-left: var(--offset-1);
}

.offset_2 {
	margin-left: var(--offset-2);
}

.offset_3 {
	margin-left: var(--offset-3);
}

.offset_4 {
	margin-left: var(--offset-4);
}

.offset_5 {
	margin-left: var(--offset-5);
}

.offset_6 {
	margin-left: var(--offset-6);
}

.offset_7 {
	margin-left: var(--offset-7);
}

.offset_8 {
	margin-left: var(--offset-8);
}

.offset_9 {
	margin-left: var(--offset-9);
}

.offset_10 {
	margin-left: var(--offset-10);
}

.offset_11 {
	margin-left: var(--offset-11);
}

.offset_12 {
	margin-left: var(--offset-12);
}

@media screen and (min-width: 576px) {
	.sm_col_1 {
		width: var(--width-1);
	}

	.sm_col_2 {
		width: var(--width-2);
	}

	.sm_col_3 {
		width: var(--width-3);
	}

	.sm_col_4 {
		width: var(--width-4);
	}

	.sm_col_5 {
		width: var(--width-5);
	}

	.sm_col_6 {
		width: var(--width-6);
	}

	.sm_col_7 {
		width: var(--width-7);
	}

	.sm_col_8 {
		width: var(--width-8);
	}

	.sm_col_9 {
		width: var(--width-9);
	}

	.sm_col_10 {
		width: var(--width-10);
	}

	.sm_col_11 {
		width: var(--width-11);
	}

	.sm_col_12 {
		width: var(--width-12);
	}

	.sm_offset_1 {
		margin-left: var(--offset-1);
	}

	.sm_offset_2 {
		margin-left: var(--offset-2);
	}

	.sm_offset_3 {
		margin-left: var(--offset-3);
	}

	.sm_offset_4 {
		margin-left: var(--offset-4);
	}

	.sm_offset_5 {
		margin-left: var(--offset-5);
	}

	.sm_offset_6 {
		margin-left: var(--offset-6);
	}

	.sm_offset_7 {
		margin-left: var(--offset-7);
	}

	.sm_offset_8 {
		margin-left: var(--offset-8);
	}

	.sm_offset_9 {
		margin-left: var(--offset-9);
	}

	.sm_offset_10 {
		margin-left: var(--offset-10);
	}

	.sm_offset_11 {
		margin-left: var(--offset-11);
	}

	.sm_offset_12 {
		margin-left: var(--offset-12);
	}
}

@media (min-width: 768px) {
	.md_col_1 {
		width: var(--width-1);
	}

	.md_col_2 {
		width: var(--width-2);
	}

	.md_col_3 {
		width: var(--width-3);
	}

	.md_col_4 {
		width: var(--width-4);
	}

	.md_col_5 {
		width: var(--width-5);
	}

	.md_col_6 {
		width: var(--width-6);
	}

	.md_col_7 {
		width: var(--width-7);
	}

	.md_col_8 {
		width: var(--width-8);
	}

	.md_col_9 {
		width: var(--width-9);
	}

	.md_col_10 {
		width: var(--width-10);
	}

	.md_col_11 {
		width: var(--width-11);
	}

	.md_col_12 {
		width: var(--width-12);
	}

	.md_offset_1 {
		margin-left: var(--offset-1);
	}

	.md_offset_2 {
		margin-left: var(--offset-2);
	}

	.md_offset_3 {
		margin-left: var(--offset-3);
	}

	.md_offset_4 {
		margin-left: var(--offset-4);
	}

	.md_offset_5 {
		margin-left: var(--offset-5);
	}

	.md_offset_6 {
		margin-left: var(--offset-6);
	}

	.md_offset_7 {
		margin-left: var(--offset-7);
	}

	.md_offset_8 {
		margin-left: var(--offset-8);
	}

	.md_offset_9 {
		margin-left: var(--offset-9);
	}

	.md_offset_10 {
		margin-left: var(--offset-10);
	}

	.md_offset_11 {
		margin-left: var(--offset-11);
	}

	.md_offset_12 {
		margin-left: var(--offset-12);
	}
}

@media (min-width: 992px) {
	.lg_col_1 {
		width: var(--width-1);
	}

	.lg_col_2 {
		width: var(--width-2);
	}

	.lg_col_3 {
		width: var(--width-3);
	}

	.lg_col_4 {
		width: var(--width-4);
	}

	.lg_col_5 {
		width: var(--width-5);
	}

	.lg_col_6 {
		width: var(--width-6);
	}

	.lg_col_7 {
		width: var(--width-7);
	}

	.lg_col_8 {
		width: var(--width-8);
	}

	.lg_col_9 {
		width: var(--width-9);
	}

	.lg_col_10 {
		width: var(--width-10);
	}

	.lg_col_11 {
		width: var(--width-11);
	}

	.lg_col_12 {
		width: var(--width-12);
	}

	.lg_offset_1 {
		margin-left: var(--offset-1);
	}

	.lg_offset_2 {
		margin-left: var(--offset-2);
	}

	.lg_offset_3 {
		margin-left: var(--offset-3);
	}

	.lg_offset_4 {
		margin-left: var(--offset-4);
	}

	.lg_offset_5 {
		margin-left: var(--offset-5);
	}

	.lg_offset_6 {
		margin-left: var(--offset-6);
	}

	.lg_offset_7 {
		margin-left: var(--offset-7);
	}

	.lg_offset_8 {
		margin-left: var(--offset-8);
	}

	.lg_offset_9 {
		margin-left: var(--offset-9);
	}

	.lg_offset_10 {
		margin-left: var(--offset-10);
	}

	.lg_offset_11 {
		margin-left: var(--offset-11);
	}

	.lg_offset_12 {
		margin-left: var(--offset-12);
	}
}

@media (min-width: 1200px) {
	.xl_col_1 {
		width: var(--width-1);
	}

	.xl_col_2 {
		width: var(--width-2);
	}

	.xl_col_3 {
		width: var(--width-3);
	}

	.xl_col_4 {
		width: var(--width-4);
	}

	.xl_col_5 {
		width: var(--width-5);
	}

	.xl_col_6 {
		width: var(--width-6);
	}

	.xl_col_7 {
		width: var(--width-7);
	}

	.xl_col_8 {
		width: var(--width-8);
	}

	.xl_col_9 {
		width: var(--width-9);
	}

	.xl_col_10 {
		width: var(--width-10);
	}

	.xl_col_11 {
		width: var(--width-11);
	}

	.xl_col_12 {
		width: var(--width-12);
	}

	.xl_offset_1 {
		margin-left: var(--offset-1);
	}

	.xl_offset_2 {
		margin-left: var(--offset-2);
	}

	.xl_offset_3 {
		margin-left: var(--offset-3);
	}

	.xl_offset_4 {
		margin-left: var(--offset-4);
	}

	.xl_offset_5 {
		margin-left: var(--offset-5);
	}

	.xl_offset_6 {
		margin-left: var(--offset-6);
	}

	.xl_offset_7 {
		margin-left: var(--offset-7);
	}

	.xl_offset_8 {
		margin-left: var(--offset-8);
	}

	.xl_offset_9 {
		margin-left: var(--offset-9);
	}

	.xl_offset_10 {
		margin-left: var(--offset-10);
	}

	.xl_offset_11 {
		margin-left: var(--offset-11);
	}

	.xl_offset_12 {
		margin-left: var(--offset-12);
	}
}

@media (min-width: 1400px) {
	.xxl_col_1 {
		width: var(--width-1);
	}

	.xxl_col_2 {
		width: var(--width-2);
	}

	.xxl_col_3 {
		width: var(--width-3);
	}

	.xxl_col_4 {
		width: var(--width-4);
	}

	.xxl_col_5 {
		width: var(--width-5);
	}

	.xxl_col_6 {
		width: var(--width-6);
	}

	.xxl_col_7 {
		width: var(--width-7);
	}

	.xxl_col_8 {
		width: var(--width-8);
	}

	.xxl_col_9 {
		width: var(--width-9);
	}

	.xxl_col_10 {
		width: var(--width-10);
	}

	.xxl_col_11 {
		width: var(--width-11);
	}

	.xxl_col_12 {
		width: var(--width-12);
	}

	.xxl_offset_1 {
		margin-left: var(--offset-1);
	}

	.xxl_offset_2 {
		margin-left: var(--offset-2);
	}

	.xxl_offset_3 {
		margin-left: var(--offset-3);
	}

	.xxl_offset_4 {
		margin-left: var(--offset-4);
	}

	.xxl_offset_5 {
		margin-left: var(--offset-5);
	}

	.xxl_offset_6 {
		margin-left: var(--offset-6);
	}

	.xxl_offset_7 {
		margin-left: var(--offset-7);
	}

	.xxl_offset_8 {
		margin-left: var(--offset-8);
	}

	.xxl_offset_9 {
		margin-left: var(--offset-9);
	}

	.xxl_offset_10 {
		margin-left: var(--offset-10);
	}

	.xxl_offset_11 {
		margin-left: var(--offset-11);
	}

	.xxl_offset_12 {
		margin-left: var(--offset-12);
	}
}
